@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Great+Vibes&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '~reset-css/reset.css';
@import 'loading.scss';
@import 'home.scss';
@import 'ring.scss';
@import 'partner.scss';
@import 'location.scss';
@import 'quote.scss';
@import 'comments.scss';
@import 'gift.scss';
@import 'story.scss';
@import 'menu.scss';

:root {
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}

*
{
    margin: 0;
    padding: 0;
}

html, body {
  --page-background: #fff;
  --background-container: #E1EAC7;


  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  overflow: hidden;
  background-color: var(--background-container);

  // overflow-y: scroll;
}

.webgl,
.background-container
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.webgl
{
    z-index: 1;
}

.background-container
{
    // background style setup
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: var(--background-container);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.transition, .loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transition {
  // background-color: #c8cc98;
  background-color: #f4f4f4;
  transform: translateY(-100%);
  z-index: 5;

  > h2 {
    font-size: 40px;
    color: #202020;
  }
}

