
.corner-decor
{
    position: fixed;
    z-index: 4;
    max-width: 360px;

    opacity: 0;
}

.corner1
{
    right: 0px;
    transform: rotateY(180deg);
}

.corner2
{
    left: 0px;
}

@media screen and (max-width: 480px) 
{
    .corner-decor
    {
        max-width: 240px;
    }
}

@media screen and (max-width: 360px) 
{
    .corner-decor
    {
        max-width: 190px;
    }
}