.title-location
{
    // center position
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-35vmin);

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;

    span
    {
        font-family: 'Great Vibes', cursive;
        // font-weight: 600;
        font-size: 15vmin;
        opacity: 0;
    }
}

.geo-link
{
    font-size: 7vmin;
    color: red;
    position: fixed;
    border-radius: 50%;
    background-color: #e0cc8b;
    width: 7vmin;
    height: 7vmin;
    // filter: drop-shadow(0 0 15px #000);
    box-shadow: 0px 0px 15px black;
    z-index: 4;
    right: 5vmin;
    bottom: 7.2vmin;
    opacity: 0;

    svg
    {
        // center
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.geo-link.animate
{
    animation: bounce 2s infinite;
}

@keyframes bounce {
    20%, 53%, 80%, 0%, 100% 
    {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }
    40%, 43% 
    {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0);
    }
    70% 
    {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0);
    }
    90% 
    {
        transform: translate3d(0, -4px, 0);
    }
}

@media screen and (max-width: 480px) 
{
    .title-location
    {
        transform: translateX(-50%) translateY(-50vmin);

        span
        {
            font-size: 18vmin;
        }
    }

    .geo-link
    {
        font-size: 9vmin;
        width: 10vmin;
        height: 10vmin;
    }
}

@media screen and (max-width: 360px) 
{
    .geo-link
    {
        font-size: 11vmin;
        width: 12vmin;
        height: 12vmin;
    }
}