.title-partner
{
    // center position
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-30vh);

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;

    // opacity: 0;
    
    span
    {
        font-family: 'Great Vibes', cursive;
        // font-weight: 600;
        font-size: 9vh;
        opacity: 0;
    }
}

.partner1, .partner2
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

    opacity: 0;
    
    .partner-name
    {
        font-size: 3vh;
        font-weight: 600;
        opacity: 0;
    }
    
    .partner-detail
    {
        font-size: 2vh;
        opacity: 0;
    }
}

@media screen and (max-width: 480px) 
{
    .title-partner
    {
        transform: translateX(-50%) translateY(-65vmin);

        span
        {
            font-size: 10vw;
        }
    }
}

@media screen and (max-width: 360px) 
{
    .title-partner
    {
        transform: translateX(-50%) translateY(-55vmin);
    }
}