.quote-content
{
    text-align: center;
    font-family: 'Montserrat', sans-serif;

    position: fixed;
    top:50%;
    transform: translateY(-55%);

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    font-size: 3vmin;

    z-index: 3;

    .title-quote
    {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;

        padding-bottom: 70px;

        span
        {
            font-family: 'Great Vibes', cursive;
            font-weight: 400;
            font-size: 15vmin;
            opacity: 0;
        }
    }

    p
    {
        max-width: 900px;
        line-height: 3vmin;
        opacity: 0;
    }

    .source
    {
        opacity: 0;
        padding-top: 30px;
        font-weight: 900;

        a
        {
            text-decoration: none;
            background-color: var(--accent-color1);
            color: var(--accent-color2);
            padding: 15px;
            border-radius: 12px;
        }
    }
}

@media screen and (max-width: 480px) 
{
    .quote-content
    {
        .title-quote
        {
            padding-bottom: 30px;

            span
            {
                font-size: 15vmin;
            }
        }

        p
        {
            font-size: 4vmin;
            max-width: 350px;
            line-height: 4vmin;
        }

        .source
        {
            font-size: 4vmin;
            padding-top: 30px;
        }
    }
}

@media screen and (max-width: 360px) 
{
    .quote-content
    {
        .title-quote
        {
            span
            {
                font-size: 15vmin;
            }
        }

        p
        {
            font-size: 4vmin;
            max-width: 290px;
            line-height: 4vmin;
        }

        .source
        {
            font-size: 4vmin;
            padding-top: 30px;
        }
    }
}